In [6]:
# Enviar dados webhook

import requests 
import json

In [7]:
# Url para envio da msg

url_rota_inicio = 'http://127.0.0.1:5000/inicio'

In [8]:
# Criar o dado que será enviado para o webhook
data  = {'message': 'Hello world'}

In [9]:
# Enviar a msg via requisição HTTP POST

response = requests.post(url=url_rota_inicio, json=data)
print(response)

<Response [200]>

Chamando rota cadastro

In [10]:
import pandas as pd 

dados = {
    'ID': [1,2,3,4,5,6,7,8,9,10],
    'idade': [23,42,12,6,23,54,12,64,33,21],
    'cidade': ['fortaleza', 'maceio', 'sao paulo', 'porto alegra', 'natal', 'curitiba','manaus', 'sao luiz','salvador','rio de janeiro']
    }

In [11]:
df = pd.DataFrame(dados)
df

   ID  idade          cidade
0   1     23       fortaleza
1   2     42          maceio
2   3     12       sao paulo
3   4      6    porto alegra
4   5     23           natal
5   6     54        curitiba
6   7     12          manaus
7   8     64        sao luiz
8   9     33        salvador
9  10     21  rio de janeiro

In [12]:
url_cadastro = 'http://127.0.0.1:5000/cadastro'

data_json = df.to_dict(orient='records')

response = requests.post(url= url_cadastro, json=data_json)