Friday - Oct 18th 2024

In [2]:
# enviar dados webhook
# importar flask
# TODO: estudar sobre flask
!pip install flask

Collecting flask
  Downloading flask-3.0.3-py3-none-any.whl.metadata (3.2 kB)
Collecting Werkzeug>=3.0.0 (from flask)
  Downloading werkzeug-3.0.4-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: Jinja2>=3.1.2 in /home/jonathan/Documents/GitHub/Ada-Coders-2024/.venv/lib/python3.12/site-packages (from flask) (3.1.4)
Collecting itsdangerous>=2.1.2 (from flask)
  Downloading itsdangerous-2.2.0-py3-none-any.whl.metadata (1.9 kB)
Collecting click>=8.1.3 (from flask)
  Downloading click-8.1.7-py3-none-any.whl.metadata (3.0 kB)
Collecting blinker>=1.6.2 (from flask)
  Downloading blinker-1.8.2-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /home/jonathan/Documents/GitHub/Ada-Coders-2024/.venv/lib/python3.12/site-packages (from Jinja2>=3.1.2->flask) (2.1.5)
Downloading flask-3.0.3-py3-none-any.whl (101 kB)
Downloading blinker-1.8.2-py3-none-any.whl (9.5 kB)
Downloading click-8.1.7-py3-none-any.whl (97 kB)
Downloading itsdangerous-2.2.0-py3-none-any.whl (16 kB)
Downloading werkzeug-3.0.4-py3-none-any.whl (227 kB)
Installing collected packages: Werkzeug, itsdangerous, click, blinker, flask
Successfully installed Werkzeug-3.0.4 blinker-1.8.2 click-8.1.7 flask-3.0.3 itsdangerous-2.2.0

In [1]:
import flask

In [2]:
# Iniciação da aplicação Flask
app = flask.Flask(__name__)

In [3]:
# Definição da primeira rota do webhook com suporte a requisição HTTP POST
@app.route("/inicio",  methods=["POST"])

def primeiro_webhook():
    # Recuperar o conteúdo da requisição HTTP 
    data = flask.request.get_json()
    
    # Imprimir o valor
    print('Resposta', data)
    return 'ok'



# Outra rota
@app.route('/cadastro', methods=['POST'])
def cadastro_webhook():
    data = flask.request.get_json()
    linha = data
    for i in linha:
        print(i)
        cod = i['ID']
        idade = i['idade']
        cidade = i['cidade']
        
        print(f'ID: {cod}, idade: {idade}, cidade: {cidade}')
    #print('CADASTRO: ', data)
    return 'Okay'

In [4]:
app.run()

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [18/Oct/2024 20:32:07] "POST /inicio HTTP/1.1" 200 -

Resposta {'message': 'Hello world'}

127.0.0.1 - - [18/Oct/2024 20:32:15] "POST /cadastro HTTP/1.1" 200 -

{'ID': 1, 'idade': 23, 'cidade': 'fortaleza'}
ID: 1, idade: 23, cidade: fortaleza
{'ID': 2, 'idade': 42, 'cidade': 'maceio'}
ID: 2, idade: 42, cidade: maceio
{'ID': 3, 'idade': 12, 'cidade': 'sao paulo'}
ID: 3, idade: 12, cidade: sao paulo
{'ID': 4, 'idade': 6, 'cidade': 'porto alegra'}
ID: 4, idade: 6, cidade: porto alegra
{'ID': 5, 'idade': 23, 'cidade': 'natal'}
ID: 5, idade: 23, cidade: natal
{'ID': 6, 'idade': 54, 'cidade': 'curitiba'}
ID: 6, idade: 54, cidade: curitiba
{'ID': 7, 'idade': 12, 'cidade': 'manaus'}
ID: 7, idade: 12, cidade: manaus
{'ID': 8, 'idade': 64, 'cidade': 'sao luiz'}
ID: 8, idade: 64, cidade: sao luiz
{'ID': 9, 'idade': 33, 'cidade': 'salvador'}
ID: 9, idade: 33, cidade: salvador
{'ID': 10, 'idade': 21, 'cidade': 'rio de janeiro'}
ID: 10, idade: 21, cidade: rio de janeiro

outro notebook

In [11]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.10-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Using cached psycopg2_binary-2.9.10-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

In [12]:
import pandas as pd 
from sqlalchemy import create_engine


# Configurações de conexão
host = '192.168.0.110'
dbname = 'second_database'
user = 'jhon'
password = 'db5417'
port = '5432'  # Porta padrão do PostgreSQL


# Crie a URL de conexão
db_url = f'postgresql://{user}:{password}@{host}:{port}/{dbname}'

# Crie o engine
engine = create_engine(db_url)

# Escreva a consulta SQL
query = "SELECT * FROM clientes;"

# Carregue os dados em um DataFrame
df = pd.read_sql(query, engine)

# Exiba os dados
df

,cliente_id,nome,email,telefone,data_de_nascimento,endereco,data_de_registro
0,1,Irina Romanov,irina_r@email.com,31 9-9886-3627,2024-10-10,"Rua das tetulias, 800 - Bairro: Nova Luz",2024-10-10 21:18:44.510069
1,2,Ana Maria Souza,ana.souza@example.com,(11) 98765-4321,1990-01-15,"Rua das Flores, 123, São Paulo, SP",2024-10-10 21:55:42.485404
2,3,Bruno Oliveira,bruno.oliveira@example.com,(21) 91234-5678,1985-06-22,"Avenida Brasil, 456, Rio de Janeiro, RJ",2024-10-10 21:55:42.485404
3,4,Carlos Eduardo Lima,carlos.lima@example.com,(31) 99876-5432,1992-11-30,"Rua Minas Gerais, 789, Belo Horizonte, MG",2024-10-10 21:55:42.485404
4,5,Daniela Pereira,daniela.pereira@example.com,(51) 98765-1234,1988-04-10,"Rua da Praia, 101, Porto Alegre, RS",2024-10-10 21:55:42.485404
5,6,Eduardo Silva,eduardo.silva@example.com,(41) 91234-8765,1979-02-18,"Avenida Paraná, 202, Curitiba, PR",2024-10-10 21:55:42.485404
6,7,Fernanda Costa,fernanda.costa@example.com,(71) 99876-5432,1995-12-05,"Rua Bahia, 303, Salvador, BA",2024-10-10 21:55:42.485404
7,8,Guilherme Almeida,guilherme.almeida@example.com,(61) 98765-4321,1983-09-25,"Avenida Central, 404, Brasília, DF",2024-10-10 21:55:42.485404
8,9,Helena Fernandes,helena.fernandes@example.com,(51) 91234-5678,1991-07-12,"Rua da Ladeira, 505, Porto Alegre, RS",2024-10-10 21:55:42.485404
9,10,Igor Santos,igor.santos@example.com,(31) 99876-5432,1986-03-07,"Avenida Afonso Pena, 606, Belo Horizonte, MG",2024-10-10 21:55:42.485404
10,11,Juliana Rocha,juliana.rocha@example.com,(21) 98765-1234,1993-08-19,"Rua das Palmeiras, 707, Rio de Janeiro, RJ",2024-10-10 21:55:42.485404

POs intervalo

In [ ]:
psql -h localhost -U seu_usuario -d nome_do_banco_de_dados