# Aula 02 - July - 31 2024
## Lógica de programação II

* Dicionários e Tuplas

## Estrutura de Dados
Apresentaremos novas maneiras de armazenar e estruturar nossos dados.

## Tuplas

Tuplas podem ser pensadas como listas mas com algumas restrições:

* Não podemos alterar uma tupla nem em ordem, nem conteúdo.

Por que deveriamos usa-las então? Velocidade e organização de código. Um programador ao ver uma tupla sabe que seu conteúdo não pode ser alterado indiscriminadamente, além disso, a capacidade de alteração numa lista exige algoritmos mais complexos e lentos, então trabalhar com tuplas nos permite maior desempenho.

As tuplas são declaradas entre parênteses, possuem algumas funções nativas semelhantes as listas, como **len()** e **type()**, e também são consultadas **(slicing)** da mesma maneira com os colchetes. As tuplas também aceitam dados mistos dentro de sí.

A declaração de tuplas em Python é muito simples, basta adicionar seus elementos entre parênteses e separados por vírgula, conforme o exemplo a seguir:

In [3]:
#  Declaração de tuplas vazias
tupla_frutas = ()
tupla_carros = tuple()
# Declaração de tuplas explícitas
tupla_numeros = 1, 2, 3, 4, 5
tupla_letras = ('a', 'b', 'c', 'd', 'e')
nova_tupla = tuple('goiaba') # só aceita um argumento

print(type(tupla_numeros))
print(type(tupla_letras))
print(type(nova_tupla))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

Para alterarmos uma tupla, podemos, por exemplo, **fazer um cast para listas**, alterar a lista, e retornar para uma tupla.

In [12]:
tupla_numeros = 1, 2, 3, 4, 5
print("Tupla antes da alteração")
print(tupla_numeros)
print(id(f'Endereço de memória antes da alteração: {tupla_numeros}'))
#Casting da tupla para lista
lista_aux = list(tupla_numeros)

#Adicionando elementos a agora lista
lista_aux.append(6)
lista_aux.append(7)
lista_aux.append(8)

# Tornando agora a lista em uma tupla novamente.
tupla_numeros = tuple(lista_aux)
print(tupla_numeros)
print(id(f'Endereço de memória depois da alteração: {tupla_numeros}'))

Tupla antes da alteração
(1, 2, 3, 4, 5)
140278049672976
(1, 2, 3, 4, 5, 6, 7, 8)
140278134311984

Tuplas podem ser desempacotadas, isso é, desmembrar seus valores para variaveis individuais

In [14]:
tupla_frutas = "Maçã", "Banana", "Uva"
# Atribuição da tupla a três variáveis individuais, poderia também ser feito atribuição à uma lista.
fruta_1, fruta_2, fruta_3 = tupla_frutas

print(fruta_1)

Maçã

Observação/lembrete:

Uma outra maneira de desempacotar utilizando (*)

In [15]:
# Desempacotar devemos ter o mesmo números de variáveis que receberão os valores da tupla
a,b,c = 1,2,3

# Assim teremos um erro!
a,b,c = 1,2,3,4,5

ValueError: too many values to unpack (expected 3)

In [18]:
# Para fazer esse tipo de atribuição, podemos utilizar (*)
a,b, *c = 1,2,3,4,5
print(a,b,c)
print("=========================")
a,*b,c,d = 1,2,3,4,5
print(a)
print(b)
print(c)
print(d)

1 2 [3, 4, 5]
=========================
1
[2, 3]
4
5

In [20]:
# Também podemos guardar essas variáveis em uma tupla
(a,b,*c,d) = 1,2,3,4,5
print(a,type(a))
print(c)

1 <class 'int'>
[3, 4]

 Tuplas podem ser percorridas em loop igualmente às listas, além disso podemos concatenar tuplas com o + e multiplicar elas por inteiros usando *.

In [1]:
dicionario = {}

#método fromkeys

dicionario = dicionario.fromkeys(["chave1", "chave2", "chave3", "chave4",], "valor_unico")

dicionario

{'chave1': 'valor_unico',
 'chave2': 'valor_unico',
 'chave3': 'valor_unico',
 'chave4': 'valor_unico'}

In [7]:
#Dicionario
pessoa = {
    "nome": "pedro",
    "idade": 18,
    "profissao": "padeiro",
    "filhos": ["pedro", "luiza", "maria"],
    }
print(pessoa)
print(f"Keys: {pessoa.keys()}")
print(f"Nome: {pessoa['nome']}")
print(f"Values: {pessoa.values()}")
print(f"Items: {pessoa.items()}")

{'nome': 'pedro', 'idade': 18, 'profissao': 'padeiro', 'filhos': ['pedro', 'luiza', 'maria']}
Keys: dict_keys(['nome', 'idade', 'profissao', 'filhos'])
Nome: pedro
Values: dict_values(['pedro', 18, 'padeiro', ['pedro', 'luiza', 'maria']])
Items: dict_items([('nome', 'pedro'), ('idade', 18), ('profissao', 'padeiro'), ('filhos', ['pedro', 'luiza', 'maria'])])

In [9]:
# convertendo para lista
lista_chaves = list(pessoa.keys())

lista_chaves

['nome', 'idade', 'profissao', 'filhos']

In [12]:
#adicionar chave: valor

print(pessoa)
pessoa['nacionaldade'] = 'Brasileiro'


print(pessoa)

{'nome': 'pedro', 'idade': 18, 'profissao': 'padeiro', 'filhos': ['pedro', 'luiza', 'maria']}
{'nome': 'pedro', 'idade': 18, 'profissao': 'padeiro', 'filhos': ['pedro', 'luiza', 'maria'], 'nacionaldade': 'Brasileiro'}

In [13]:
# alterar chave e valor
pessoa['nome'] = 'Ausgusto'

print(pessoa)

{'nome': 'Ausgusto', 'idade': 18, 'profissao': 'padeiro', 'filhos': ['pedro', 'luiza', 'maria'], 'nacionaldade': 'Brasileiro'}

In [14]:
# Update
pessoa.update({'idade' : 35, 'nacionalidade' : 'americano', 'cachorro': 'fulio'})

print(pessoa)

{'nome': 'Ausgusto', 'idade': 35, 'profissao': 'padeiro', 'filhos': ['pedro', 'luiza', 'maria'], 'nacionaldade': 'Brasileiro', 'nacionalidade': 'americano', 'cachorro': 'fulio'}

In [20]:
#Remover chave: valor
#pessoa.pop('nome')
print(pessoa)

#del pessoa['nacionaldade']
print(pessoa)

# remove ultima chave:valor
pessoa.popitem()

{'idade': 35, 'profissao': 'padeiro', 'filhos': ['pedro', 'luiza', 'maria'], 'nacionaldade': 'Brasileiro', 'nacionalidade': 'americano'}
{'idade': 35, 'profissao': 'padeiro', 'filhos': ['pedro', 'luiza', 'maria'], 'nacionaldade': 'Brasileiro', 'nacionalidade': 'americano'}

('nacionalidade', 'americano')

In [21]:
dicionario_teste = {
    'nome' : 'maria',
    'nascimento': 'fortaleza',
    'idade': 18
}
dicionario_teste

{'nome': 'maria', 'nascimento': 'fortaleza', 'idade': 18}

In [38]:
# LOOPS 
pessoa2 = {
    "nome": "Luiz",
    "idade": 65,
    "profissao": "advogado",
    "cachorros": ["pedro", "luiza", "maria"],
    }
# iterar chaves
for chave in pessoa:
    print(chave)
print("")    
for valor in pessoa:
    print(pessoa[valor])
    
# iterar valores
print("")    
# ou
for valor in pessoa.values():
    print(valor)
    
print("") 
for valor in enumerate(pessoa.values()):
    print(valor)

print("") 
for valor in enumerate(pessoa.items()):
    print(valor)

idade
profissao
filhos
nacionaldade

35
padeiro
['pedro', 'luiza', 'maria']
Brasileiro

35
padeiro
['pedro', 'luiza', 'maria']
Brasileiro

(0, 35)
(1, 'padeiro')
(2, ['pedro', 'luiza', 'maria'])
(3, 'Brasileiro')

(0, ('idade', 35))
(1, ('profissao', 'padeiro'))
(2, ('filhos', ['pedro', 'luiza', 'maria']))
(3, ('nacionaldade', 'Brasileiro'))

In [35]:
#Enumerates
lista_teste = [1, 2, 3, 4, 5, 6]

for numero in lista_teste:
    print(numero)
print("==========")
# iterar com enumerate
for numero in enumerate(lista_teste):
    print(numero)

1
2
3
4
5
6
==========
(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)

In [42]:
frutas = ['maçã', 'banana', 'pera']

for fruta in enumerate(frutas):
    print(fruta)
    
#também podemos colocar um argumento opcional de start no nosso

for indice, fruta in enumerate(frutas, 1):
    print(indice)
    print(fruta)

(0, 'maçã')
(1, 'banana')
(2, 'pera')
1
maçã
2
banana
3
pera

In [46]:
pessoa2

print("===================")
for x in pessoa.items():
    print(x)
    
print("===================")
for chave, valor in pessoa2.items():
    print(f'A chave ({chave}) possui o valor: {valor}')

===================
('idade', 35)
('profissao', 'padeiro')
('filhos', ['pedro', 'luiza', 'maria'])
('nacionaldade', 'Brasileiro')
===================
A chave (nome) possui o valor: Luiz
A chave (idade) possui o valor: 65
A chave (profissao) possui o valor: advogado
A chave (cachorros) possui o valor: ['pedro', 'luiza', 'maria']

In [47]:
#lista de listas
lista_mista = [[1, 2, 3], ['apple', 'potato', 'grape']]

print(lista_mista[-1][1])

potato

In [52]:
# dicionario com dicionarios
filhos = {
    'filho1': {
        'nome': 'felipe',
        'ano': 2004
    }, 
    'filho2': {
        'nome': 'maria',
        'ano': 2008
    },
    'filho3': {
        'nome': 'luiza',
        'ano': 2010
    }
}

#retornar nomes filhos
print(filhos['filho1']['nome'])
print(filhos['filho2']['nome'])
print(filhos['filho3']['nome'])

felipe
maria
luiza

In [53]:
# In
# checando se valor esta na lista
'banana' in ['uva', 'pera', 'tomate']

False

In [57]:
#in com dicionarios

estudante = {
    'nome': 'josy',
    'turma': '7B'
}

#'professor' in estudante.keys()
#'josy' in estudante.values()

kit_escolar = ['caneta', 'caderno', 'apontador']

if 'kit_escolar' not in estudante.keys():
    estudante['kit_escolar'] = kit_escolar
else:
    print("Ja possui")
estudante

{'nome': 'josy',
 'turma': '7B',
 'kit_escolar': ['caneta', 'caderno', 'apontador']}

In [ ]:
notas_alunos = {
    'aluno1': [6,9,7,10],
    'aluno2': [5,7,8,10],
    'aluno3': [10,9,7,4.5]
}

#exibir quais alunos tem notas maior que 7
#TODO: exibir a media
#TODO: verificar se um valor esta na lista