In [2]:
import pandas as pd 
import numpy as np

# Aula 4 - Mais Pandas

Nessa aula, iremos tratar dos seguintes conteúdos:
- Pandas
- Series
- Métodos Pandas
- DataFrames
- Combinando DataFrames
- Trabalhando com CSVs
- GroupBy e Agregadores

<img src="" width=800>

##

## Pandas

__Pandas__ é um pacote python construído com base no __NumPy__ e __Matplotlib__ que busca organizar dados no formato de tabela, atribuindo rótulos às linhas e colunas. O pacote __Pandas__ fornece ainda um conjunto de funcionalidades que permite processar as informações de tabelas de forma bastante eficiente, implementando métodos fundamentais para fins de tratamento de dados.

O Pandas organiza os dados nos seguintes tipos de estruturas:
- Series (Séries)
- DataFrame

## Combinando DataFrames
__Pandas__ fornece um conjunto de métodos para combinar DataFrames, o que é extremamente útil em cenários envolvendo múltiplas fontes de dados. Em particular, os métodos:
- __merge__ combina DataFrames com base nos rótulos das linhas ou valores das colunas
- __concatenate__ combina DataFrames a partir de um eixo específico

### merge
O método __merge__ "funde" dois DataFrames, duas séries, ou uma série com um DataFrame.

A fuzão pode ser feita com base nos:
- valores de duas colunas específicas, uma em cada DataFrame 
- valores de uma coluna em um dos DataFrame e rótulos das linhas no outro
- valores dos rótulos das linhas em ambos os DataFrames (ou Séries)

#### Merge baseado nos valores de duas colunas

### concat
O método __concat__ é utilizado para juntar DataFrames ou Séries com base em um dos eixos.
- __axis = 0__ concatena por linhas 
- __axis = 1__ concatena por colunas. Quando empregado em um conjunto de séries resulta em um DataFrame

O método assume como parâmetro uma lista de DataFrames ou Séries.

In [9]:
s1 = pd.Series([0, 1], index=['a', 'b'])
ds1 = pd.DataFrame(s1)
ds1.columns = ['A']

s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
ds2 = pd.DataFrame(s2)
ds2.columns = ['B']


s3 = pd.Series([1, 5, 6], index=['a', 'f', 'd'])
ds3 = pd.DataFrame(s3)
ds3.columns = ['C']

In [16]:
ds1, ds2, ds3

(   A
 a  0
 b  1,
    B
 c  2
 d  3
 e  4,
    C
 a  1
 f  5
 d  6)

In [18]:
pd.concat([ds1, ds2, ds3])

     A    B    C
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
a  NaN  NaN  1.0
f  NaN  NaN  5.0
d  NaN  NaN  6.0

##

In [21]:
pd.concat([ds1, ds2, ds3], axis=1)

     A    B    C
a  0.0  NaN  1.0
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  6.0
e  NaN  4.0  NaN
f  NaN  NaN  5.0

In [22]:
pd.concat([ds1, ds2, ds3], axis=1, ignore_index=True)

     0    1    2
a  0.0  NaN  1.0
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  6.0
e  NaN  4.0  NaN
f  NaN  NaN  5.0

##

## GroupBy e Agregadores

Podemos utilizar o __GroupBy__, para fsazer alguns cálculos de agrupamentos específicos (bem parecido com o que fazemos no SQL):

Pode-se também calcular mais de uma métrica por vez utilizando o __GroupBy__ combinado com o método __agg:__

## Exercícios

### Para o Dataframe do Titanic

**1)** Faça a leitura do Dataframe e mostre as 5 primeiras linhas

In [1]:
import pandas as pd

**2)** Calcule a tarifa média por Sexo

**3)** Determine o passageiro que pagou a maior tarifa

**4)** Determine a idade média dos sobreviventes

## Exercicios Gerais

**1)** Baixe e carregue em um pd.DataFrame o arquivo "IBOV.csv", que contém as cotações diárias do índice Ibovespa no ultimo ano (2021).

In [71]:

df = pd.read_csv('../data/Evolucao_Diaria.csv', sep=';', encoding='utf-8', header=1)
df

,Dia,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,1,NaN,"117.517,57","110.334,83","115.253,31",NaN,"128.267,05","125.666,19",NaN,"119.395,60","112.899,64","105.550,86","100.774,57"
1,2,NaN,"118.233,81","111.539,80",NaN,NaN,"129.601,44","127.621,65","122.515,74","116.677,08",NaN,NaN,"104.466,24"
2,3,NaN,"119.724,72","111.183,95",NaN,"119.209,48",NaN,NaN,"123.576,56","116.933,24",NaN,"105.616,88","105.069,69"
3,4,"118.854,71","119.260,82","112.690,17",NaN,"117.712,00","130.125,78",NaN,"121.801,21",NaN,"110.393,09","103.412,09",NaN
4,5,"119.376,21","120.240,26","115.202,23","117.518,44","119.564,44",NaN,"126.920,05","121.632,92",NaN,"110.457,64","104.824,23",NaN
5,6,"119.100,08",NaN,NaN,"117.498,87","119.920,61",NaN,"125.094,88","122.810,36","117.868,63","110.559,57",NaN,"106.858,87"
6,7,"122.385,92",NaN,NaN,"117.623,58","122.038,11","130.776,27","127.018,71",NaN,NaN,"110.585,43",NaN,"107.557,67"
7,8,"125.076,63","119.696,36","110.611,58","118.313,23",NaN,"129.787,11","125.427,77",NaN,"113.412,84","112.833,20","104.781,13","108.095,53"
8,9,NaN,"119.471,62","111.330,62","117.669,90",NaN,"129.906,80",NaN,"123.019,38","115.360,86",NaN,"105.535,08","106.291,24"
9,10,NaN,"118.435,33","112.776,49",NaN,"121.909,03","130.076,17",NaN,"122.202,47","114.285,93",NaN,"105.967,51","107.758,34"
10,11,"123.255,13","119.299,83","114.983,76",NaN,"122.964,01","129.441,03",NaN,"122.056,34",NaN,"112.180,48","107.594,67",NaN
11,12,"123.998,00","119.428,72","114.160,40","118.811,74","119.710,03",NaN,"127.593,83","120.700,98",NaN,NaN,"106.334,54",NaN
12,13,"121.933,08",NaN,NaN,"119.297,13","120.705,91",NaN,"128.167,74","121.193,75","116.403,72","113.455,92",NaN,"107.383,32"
13,14,"123.480,52",NaN,NaN,"120.294,68","121.880,82","130.207,96","128.406,51",NaN,"116.180,55","113.185,48",NaN,"106.759,92"
14,15,"120.348,80",NaN,"114.850,74","120.700,67",NaN,"130.091,08","127.467,88",NaN,"115.062,54","114.647,99",NaN,"107.431,18"
15,16,NaN,NaN,"114.018,78","121.113,93",NaN,"129.259,49","125.960,26","119.180,03","113.794,28",NaN,"104.403,66","108.326,33"
16,17,NaN,"120.355,79","116.549,44",NaN,"122.937,87","128.057,22",NaN,"117.903,81","111.439,37",NaN,"102.948,45","107.200,56"
17,18,"121.241,63","119.198,97","114.835,43",NaN,"122.979,96","128.405,35",NaN,"116.642,62",NaN,"114.428,18","102.426,00",NaN
18,19,"120.636,39","118.430,53","116.221,58","120.933,78","122.636,30",NaN,"124.394,57","117.164,69",NaN,"110.672,76","103.035,02",NaN
19,20,"119.646,40",NaN,NaN,"120.061,99","122.700,79",NaN,"125.401,36","118.052,77","108.843,74","110.786,43",NaN,"105.019,78"
20,21,"118.328,99",NaN,NaN,NaN,"122.592,47","129.264,96","125.929,25",NaN,"110.249,73","107.735,01",NaN,"105.499,88"
21,22,"117.380,49","112.667,70","114.978,86","119.371,48",NaN,"128.767,45","126.146,66",NaN,"112.282,28","106.296,18","102.122,37","105.243,72"
22,23,NaN,"115.227,46","113.261,80","120.530,06",NaN,"128.427,98","125.052,78","117.471,67","114.064,36",NaN,"103.653,82","104.891,32"
23,24,NaN,"115.667,78","112.064,19",NaN,"124.031,62","129.513,62",NaN,"120.210,75","113.282,67",NaN,"104.514,19",NaN
24,25,NaN,"112.256,36","113.749,90",NaN,"122.987,71","127.255,61",NaN,"120.817,71",NaN,"108.714,55","105.811,25",NaN
25,26,"116.464,06","110.035,17","114.780,62","120.594,61","123.989,17",NaN,"126.003,86","118.723,97",NaN,"106.419,53","102.224,26",NaN
26,27,"115.882,30",NaN,NaN,"119.388,37","124.366,57",NaN,"124.612,03","120.677,60","113.583,01","106.363,10",NaN,"105.554,40"
27,28,"118.883,25",NaN,NaN,"121.052,52","125.561,37","127.429,17","126.285,59",NaN,"110.123,85","105.704,96",NaN,"104.864,17"
28,29,"115.067,55",NaN,"115.418,72","120.065,75",NaN,"127.327,44","125.675,33",NaN,"111.106,83","103.500,71","102.814,03","104.107,24"
29,30,NaN,NaN,"116.849,67","118.893,84",NaN,"126.801,66","121.800,79","119.739,96","110.979,10",NaN,"101.915,45","104.822,44"
30,31,NaN,NaN,"116.633,72",NaN,"126.215,73",NaN,NaN,"118.781,03",NaN,NaN,NaN,NaN
31,32,"115.067,55","110.035,17","110.334,83","115.253,31","117.712,00","126.801,66","121.800,79","116.642,62","108.843,74","103.500,71","101.915,45","100.774,57"
32,33,"125.076,63","120.355,79","116.849,67","121.113,93","126.215,73","130.776,27","128.406,51","123.576,56","119.395,60","114.647,99","107.594,67","108.326,33"

**2)** Imprima as três primeiras linhas do DataFrame carregado e depois as três últimas.

In [72]:
df.head(3)

,Dia,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,1,NaN,"117.517,57","110.334,83","115.253,31",NaN,"128.267,05","125.666,19",NaN,"119.395,60","112.899,64","105.550,86","100.774,57"
1,2,NaN,"118.233,81","111.539,80",NaN,NaN,"129.601,44","127.621,65","122.515,74","116.677,08",NaN,NaN,"104.466,24"
2,3,NaN,"119.724,72","111.183,95",NaN,"119.209,48",NaN,NaN,"123.576,56","116.933,24",NaN,"105.616,88","105.069,69"

In [73]:
df.tail(3)

,Dia,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
30,31,NaN,NaN,"116.633,72",NaN,"126.215,73",NaN,NaN,"118.781,03",NaN,NaN,NaN,NaN
31,32,"115.067,55","110.035,17","110.334,83","115.253,31","117.712,00","126.801,66","121.800,79","116.642,62","108.843,74","103.500,71","101.915,45","100.774,57"
32,33,"125.076,63","120.355,79","116.849,67","121.113,93","126.215,73","130.776,27","128.406,51","123.576,56","119.395,60","114.647,99","107.594,67","108.326,33"

**3)** Imprima o maior e o menor valor de fechamento do índice no período analisado.

In [74]:
#TODO: converter valores de str para float, descobrir como reformatar
# Tem valores nulos (Nan) vou ter que substituir para calcular
#df[ df['Jan'] ]
a = df['Jan'].loc[3]
b = df['Jan'].loc[4]
a < b

True

In [77]:
#substituir os NaN
total_nulos = df.isnull().sum()

total_nulos

Dia     0
Jan    12
Fev    13
Mar     8
Abr    11
Mai    10
Jun    10
Jul    10
Ago     9
Set    10
Out    11
Nov    11
Dez    10
dtype: int64

In [62]:
# convertendo strings em float
# Substituindo valores em (.) por (,)
#.str.replace('.', '').str.replace(',', '.')
df['Jan'].str.replace('.','').str.replace(',','.').astype(float)

0           NaN
1           NaN
2           NaN
3     118854.71
4     119376.21
5     119100.08
6     122385.92
7     125076.63
8           NaN
9           NaN
10    123255.13
11    123998.00
12    121933.08
13    123480.52
14    120348.80
15          NaN
16          NaN
17    121241.63
18    120636.39
19    119646.40
20    118328.99
21    117380.49
22          NaN
23          NaN
24          NaN
25    116464.06
26    115882.30
27    118883.25
28    115067.55
29          NaN
30          NaN
31    115067.55
32    125076.63
Name: Jan, dtype: float64

    Dia  Jan  Fev  Mar  Abr  Mai  Jun  Jul  Ago  Set  Out  Nov  Dez
0   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
12  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
13  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
14  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
15  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
16  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
17  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
18  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
19  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
20  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
21  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
22  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
23  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
24  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
25  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
26  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
27  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
28  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
29  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
30  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
31  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
32  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

**4)** Qual é o dia associado à 50ª linha do DataFrame?

**5)** Compare a média do valor de fechamento do índice entre o primeiro e o segundo trimestre do ano estudado. Em qual dos períodos verifica-se maior média?

**6)** Acrescente uma coluna ao DataFrame chamada 'amplitude', contendo a variação máxima diária, isto é, valor máximo - valor mínimo. Imprima a linha onde se teve a maior variação do índice e depois salve o DataFrame modificado no arquivo "BVSP_mod.csv".

##

## Links, Artigos e Referências:

- [Documentação do Pandas](https://pandas.pydata.org/docs/), documentação onde vocês podem encontrar mais informações sobre os métodos e funções do Pandas e descobrir novos métodos que não foram apresentados no curso;
- ["10 Python Pandas Tricks that make your work more efficient",](https://towardsdatascience.com/10-python-pandas-tricks-that-make-your-work-more-efficient-2e8e483808ba) artigo escrito pelo Towards Data Science;
- ["28 useful Pandas functions you might not know"](https://paulovasconcellos.com.br/28-useful-pandas-functions-you-might-not-know-de42c59db085https://medium.com/@zachary.bedell/writing-beautiful-code-with-numpy-505f3b353174), artigo escrito por Paulo Vasconcellos para o Data Hackers;