# Databriks
<!--TODO: Inserir imagens-->

Desenvolvido pelos mesmos criadores do Apache Spark, o Databriks é uma plataforma de análise de dados unificada para engenharia de dados, machine learning e ciência de dados colaborativa. Se organiza através de workspaces, que são ambientes de software como serviço (SaaS) utilizados para acessar suas funcionalidades e objetos, como notebooks, em pastas e recursos computacionais, como clusters.

## Vantagens de utilizar Databriks?

* __Workspaces colaborativo__: Usuários diferentes podem compartilhar seus notebooks ou até mesmo trabalhar em um de forma simultânea.

* __Ciêntistas, Analistas e Engenheiros de Dados__: Permite que cientistas de dados manipulem dados e criem modelos para Machine Learning; que analistas usem tabelas estruturadas, arquivos semi-estruturados e se conectem a ferramenta de visualização nativamente e que **engenheiros de dados extraiam, transformem e carreguem dados em diferentes ambientes**.

* __Pluraridade de Linguagens__: Similar ao Jupyter Notebook, no Databriks é possível utilizar diversas linguagens de programação simultâneamente como por exemplo Python, R, SQL e Scala. Podendo até mescla-las em um mesmo notebook.

* __Multi-Cloud__: Pode se conectar facilmente a diferentes plataformas de computação em nuvem.

## Versão Community

Versão gratuita para que estudadntes e interessados na plataforma possam praticar sem custo embora com limitações.

## Cluster

<!--TODO: pesquisar definição-->

## Notebook

Um notebook é uma interface baseada na Web para um documento que contém código executável, visualizações e texto de narração. Composto por células capazes de executar códigos em diferentes linguagens, é em um notebook que somos capazes de manipular arquivos, criar funções e tabelas. Utiliza o mesmo conceito e extensão que o Jupyter Notebook.

### Limitações da versão Community

* O cluster será desligado automáticamente apoós duas horas de inatividade, e não pode ser reinicializado. Com isso, embora os arquivos subidos no DBFS e notebooks não sejam perdidos, metadados como tabelas criadas serão.

* Conexão com serviços de armazenamento (mount), como o S3 e BLob Storage, utilizando chaves de segurança não são permitidos.

#  EXTRAÇÕES AUTOMATIZADAS DE DADOS ENTRE SISTEMAS

Olá, seja bem-vindo a este módulo sobre extrações automatizadas de dados entre sistemas!

Nos dias de hoje, as empresas lidam com grandes quantidades de dados em diferentes sistemas. Para tomar decisões informadas e eficientes, é crucial ter acesso a todos esses dados de forma integrada e atualizada. Aqui estão algumas razões pelas quais as extrações automatizadas de dados são necessárias:

1. **Aumento da eficiência**: extrair manualmente dados de diferentes sistemas é um processo demorado e propenso a erros. Com extrações automatizadas, é possível obter dados rapidamente e com precisão, permitindo uma tomada de decisão mais rápida e eficiente;

2. **Redução de erros**: as extrações automatizadas removem a possibilidade de erros humanos, como digitação incorreta ou omissão de informações;

3. **Integração de dados**: as extrações automatizadas permitem integrar dados de diferentes sistemas, fornecendo uma visão mais completa e precisa do negócio; 
    
4. **Tempo e recursos**: automatizar o processo de extração de dados economiza tempo e recursos, permitindo que os funcionários se concentrem em tarefas mais importantes.

Em resumo, as extrações automatizadas de dados são fundamentais para obter dados precisos, integrados e atualizados, aumentando a eficiência e efetividade da tomada de decisão.



## ARQUITETURA DE SOLUÇÕES DE EXTRAÇÃO DE DADOS
<hr>

A arquitetura de soluções de extração de dados pode envolver o uso de APIs (Application Programming Interfaces), webhooks, planilhas, etc. para obter dados de diferentes fontes de forma programática. Neste tipo de solução, a extração de dados é automatizada usando scripts escritos em alguma linguagem de programção (como por exemplo, Python). De forma simples, podemos definir um processo de extração de dados em 5 partes:

1. **Fonte de dados**: a primeira etapa é identificar a fonte de dados desejada. Isso pode incluir bancos de dados, sistemas de gerenciamento de conteúdo (CMS), plataformas de e-commerce, entre outros;

2. **API e Webhooks**: a próxima etapa é acessar sua fonte de dados. A API é um conjunto de regras que permite que você interaja com a fonte de dados de forma programática, enquanto que os webhooks possibitam o recebimento assíncrono dos seus dados. Algumas fontes de dados possuem APIs públicas, enquanto outras exigem autenticação ou pagamento por volume de dados consumido;

3. **Requisição API**: uma vez que você tenha acesso à API, podemos enviar requisições para obter os dados desejados. Em Python, isso pode ser feito usando bibliotecas como **Requests ou httplib2**;

4. **Tratamento de dados**: após a recepção dos dados, precisamos tratá-los antes de serem usados. Isso pode incluir a limpeza dos dados, a conversão para um formato desejado e sua posterior análise. Em Python, podemos utilizar bibliotecas como Pandas ou Numpy para realizar tais tarefas.

5. **Armazenamento de dados**: por fim, os dados extraídos precisam ser armazenados em algum local para uso futuro. E, isso pode ser feito em bancos de dados locais ou na nuvem, como o Amazon S3 ou o Google Cloud Storage.

É importante destacar que a soma destas partes permite a automatização da extração de dados, tornando-a mais eficiente e confiável. Além disso, a utilização de Python como linguagem de programação permite a facilidade de uso e a ampla disponibilidade de bibliotecas para tratamento e armazenamento de dados.



## ETLs & ELTs

ETL, ELT e pipeline de dados são conceitos importantes na gestão de dados. E, podemos defini-los da seguinte forma:

**ETL (Extração, Transformação e Carga):** <hl>
    
ETL é uma sigla que se refere ao processo de extração de dados de várias fontes, as transformações utilizadas para torná-los compatíveis com o sistema de destino e ao seu carregamento no sistema de destino. Esse processo é importante para garantir que os dados sejam integrados corretamente em um sistema único e possam posteriormente serem utilizados para a tomada de decisão informada.

**ELT (Extração, Carga e Transformação):** 

a ELT é semelhante ao ETL, mas a ordem dos passos é diferente. Em uma ELT, os dados são extraídos de fontes externas, carregados no sistema de destino e, em seguida, transformados para serem compatíveis com o sistema de destino. A ELT é uma abordagem popular quando se tem um hardware poderoso disponível para transformação de dados no lado do sistema de destino.

**Pipeline de dados com extração ativa ou passiva**: 

Pipeline de dados se referem ao processo de fluxo contínuo de dados de uma fonte para um sistema de destino. Elas podem ser divididas em duas categorias:

* **Pipelines de extração ativa**: são aquelas em que os dados são extraídos da fonte em intervalos regulares de tempo; 

* **Pipelines de extração passiva**: são aquelas em que os dados são enviados assincronamente pela sistema originador da informação;

Em suma, ETL, ELT e pipeline de dados são conceitos importantes para a gestão de dados que ajudam a garantir que os dados sejam integrados corretamente em um único sistema e possam ser usados para tomar decisões informadas. A escolha entre ETL e ELT depende de fatores como a quantidade de dados e o poder de processamento disponível, enquanto que a escolha entre extração ativa ou passiva irá depender de outros fatores como a volumetria dos dados e o tempo de latência requisitado.

In [4]:
# Exemplo de ETL em Python

# importar biblioteca
import pandas as pd

# Extrair os dados de um arquivo csv
df = pd.read_csv('/var/home/jhon/Documents/GitHub/Ada-Coders-2024/data_engineering/tecnicas_programação/aula_3/archive/BRK-A.csv')
df

             Date      Open      High       Low     Close  Adj Close  Volume
0      1980-03-17     290.0     310.0     290.0     290.0      290.0   10000
1      1980-03-18     290.0     290.0     290.0     290.0      290.0       0
2      1980-03-19     290.0     310.0     290.0     290.0      290.0   20000
3      1980-03-20     290.0     290.0     290.0     290.0      290.0       0
4      1980-03-21     290.0     290.0     290.0     290.0      290.0       0
...           ...       ...       ...       ...       ...        ...     ...
11217  2024-09-13  677352.0  678234.0  671000.0  671750.0   671750.0    1900
11218  2024-09-16  673038.0  678827.0  671436.0  677731.0   677731.0    1900
11219  2024-09-17  680703.0  691164.0  679124.0  685250.0   685250.0    1300
11220  2024-09-18  687500.0  688902.0  682214.0  686859.0   686859.0    1200
11221  2024-09-19  692979.0  693775.0  686000.0  687840.0   687840.0    1500

[11222 rows x 7 columns]

In [21]:
# Passando os nomes das colunas para uma lista
atual = df.keys().tolist()
# Criando uma lista com os novos nomes das colunas
nova = ['Data', 'Abertura', 'Alta', 'Baixa', 'Fechamento', 'Ajuste Fechamento', 'Volume']
# Adicionando tudo a um dicionário com a função zip
dicionario = dict(zip(atual, nova))

In [26]:
# Transformar os dados lidos para a forma desejada

# Renomeando as colunas
df.rename(columns= dicionario, inplace=True)
df

,Data,Abertura,Alta,Baixa,Fechamento,Ajuste Fechamento,Volume
0,1980-03-17,290.0,310.0,290.0,290.0,290.0,10000
1,1980-03-18,290.0,290.0,290.0,290.0,290.0,0
2,1980-03-19,290.0,310.0,290.0,290.0,290.0,20000
3,1980-03-20,290.0,290.0,290.0,290.0,290.0,0
4,1980-03-21,290.0,290.0,290.0,290.0,290.0,0
...,...,...,...,...,...,...,...
11217,2024-09-13,677352.0,678234.0,671000.0,671750.0,671750.0,1900
11218,2024-09-16,673038.0,678827.0,671436.0,677731.0,677731.0,1900
11219,2024-09-17,680703.0,691164.0,679124.0,685250.0,685250.0,1300
11220,2024-09-18,687500.0,688902.0,682214.0,686859.0,686859.0,1200
11221,2024-09-19,692979.0,693775.0,686000.0,687840.0,687840.0,1500

In [28]:
# Carregar os dados transformados em um novo csv

# Salvando o DataFrame em um arquivo CSV
df.to_csv('BRK-Rename.csv')

In [29]:
# Importar biblioteca para ler arquivos CSV
import csv


# Extrair dados de um arquivo CSV
with open("dados_origem.csv", "r") as arquivo:
    dados = list(csv.reader(arquivo))


# Transformar os dados lidos para a forma desejada
dados_transformados = []
for linha in dados:
    nome, idade = linha[0], int(linha[1])
    dados_transformados.append({"nome": nome, "idade": idade})


# Carregar os dados transformados em um banco de dados
import sqlite3


conexao = sqlite3.connect("dados_destino.db")
cursor = conexao.cursor()


cursor.execute("CREATE TABLE IF NOT EXISTS pessoas (nome TEXT, idade INTEGER)")
for pessoa in dados_transformados:
    cursor.execute("INSERT INTO pessoas (nome, idade) VALUES (?, ?)", (pessoa["nome"], pessoa["idade"]))


conexao.commit()
conexao.close()

FileNotFoundError: [Errno 2] No such file or directory: 'dados_origem.csv'

## Exemplo de um ELT

In [ ]:
# Importar biblioteca para ler arquivos CSV
import csv


# Importar biblioteca para conexão com banco de dados
import sqlite3


# Extrair dados de um arquivo CSV e carregá-los diretamente no banco de dados
conexao = sqlite3.connect("dados_destino.db")
cursor = conexao.cursor()


cursor.execute("CREATE TABLE IF NOT EXISTS pessoas (nome TEXT, idade INTEGER)")
with open("dados_origem.csv", "r") as arquivo:
    dados = list(csv.reader(arquivo))
    for linha in dados:
        cursor.execute("INSERT INTO pessoas (nome, idade) VALUES (?, ?)", linha)


conexao.commit()
conexao.close()


# Transformar os dados carregados no banco de dados
conexao = sqlite3.connect("dados_destino.db")
cursor = conexao.cursor()


cursor.execute("UPDATE pessoas SET idade = idade + 1")


conexao.commit()
conexao.close()

In [ ]:
# Proximo tópico a estudar API