# BIG DATA

"Dat is the new science. Big Data holds the answers." - Patrick P. Gelsinger, **Forbes**

## O que Ã© Big Data?

In [3]:
import pandas as pd

In [ ]:
def my_map(dataframe):
    produto =

In [17]:
data = {
    'Nome_produto':['produto_a', 'produto_b','produto_a','produto_c','produto_b','produto_a'],
    'Quantidade': [10, 5, 8, 3, 2, 12],
    'Preco_unitario': [5., 7.5, 5.,12.,7.5, 5.]
}

df = pd.DataFrame(data)
df

  Nome_produto  Quantidade  Preco_unitario
0    produto_a          10             5.0
1    produto_b           5             7.5
2    produto_a           8             5.0
3    produto_c           3            12.0
4    produto_b           2             7.5
5    produto_a          12             5.0

In [26]:
df['Nome_produto'].iloc[0]

'produto_a'