# Exercício
### Para o Dataframe do Titanic


**1)** Faça a leitura do Dataframe e mostre as 5 primeiras linhas

In [2]:
import pandas as pd 

df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**2)** Calcule a tarifa média por Sexo

In [27]:
male_fare = df[df['Sex'] == 'male']['Fare'].mean()
male_fare

np.float64(25.523893414211443)

In [28]:
male_fare = df[df['Sex'] == 'female']['Fare'].mean()
male_fare.tolist()

44.47981783439491

**3)** Determine o passageiro que pagou a maior tarifa

In [20]:
mascara = df['Fare'] == df['Fare'].max()

df[mascara]['Name']

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

**4)** Determine a idade média dos sobreviventes

In [25]:
media_idade_sobreviventes = df[df['Survived'] == 1]['Age'].mean().round(2)

media_idade_sobreviventes

np.float64(28.34)

np.float64(29.69911764705882)

__5)__ Determinem a classe com mais sobreviventes proporcionalmente