## Exercício
**1)** Baixe e carregue em um pd.DataFrame o arquivo "IBOV.csv", que contém as cotações diárias do índice Ibovespa no ultimo ano (2021).

In [3]:
import pandas as pd 
df = pd.read_csv('data/Evolucao_Diaria.csv', sep=';', encoding='utf-8', header=1)
df

,Dia,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,1,NaN,"117.517,57","110.334,83","115.253,31",NaN,"128.267,05","125.666,19",NaN,"119.395,60","112.899,64","105.550,86","100.774,57"
1,2,NaN,"118.233,81","111.539,80",NaN,NaN,"129.601,44","127.621,65","122.515,74","116.677,08",NaN,NaN,"104.466,24"
2,3,NaN,"119.724,72","111.183,95",NaN,"119.209,48",NaN,NaN,"123.576,56","116.933,24",NaN,"105.616,88","105.069,69"
3,4,"118.854,71","119.260,82","112.690,17",NaN,"117.712,00","130.125,78",NaN,"121.801,21",NaN,"110.393,09","103.412,09",NaN
4,5,"119.376,21","120.240,26","115.202,23","117.518,44","119.564,44",NaN,"126.920,05","121.632,92",NaN,"110.457,64","104.824,23",NaN
5,6,"119.100,08",NaN,NaN,"117.498,87","119.920,61",NaN,"125.094,88","122.810,36","117.868,63","110.559,57",NaN,"106.858,87"
6,7,"122.385,92",NaN,NaN,"117.623,58","122.038,11","130.776,27","127.018,71",NaN,NaN,"110.585,43",NaN,"107.557,67"
7,8,"125.076,63","119.696,36","110.611,58","118.313,23",NaN,"129.787,11","125.427,77",NaN,"113.412,84","112.833,20","104.781,13","108.095,53"
8,9,NaN,"119.471,62","111.330,62","117.669,90",NaN,"129.906,80",NaN,"123.019,38","115.360,86",NaN,"105.535,08","106.291,24"
9,10,NaN,"118.435,33","112.776,49",NaN,"121.909,03","130.076,17",NaN,"122.202,47","114.285,93",NaN,"105.967,51","107.758,34"
10,11,"123.255,13","119.299,83","114.983,76",NaN,"122.964,01","129.441,03",NaN,"122.056,34",NaN,"112.180,48","107.594,67",NaN
11,12,"123.998,00","119.428,72","114.160,40","118.811,74","119.710,03",NaN,"127.593,83","120.700,98",NaN,NaN,"106.334,54",NaN
12,13,"121.933,08",NaN,NaN,"119.297,13","120.705,91",NaN,"128.167,74","121.193,75","116.403,72","113.455,92",NaN,"107.383,32"
13,14,"123.480,52",NaN,NaN,"120.294,68","121.880,82","130.207,96","128.406,51",NaN,"116.180,55","113.185,48",NaN,"106.759,92"
14,15,"120.348,80",NaN,"114.850,74","120.700,67",NaN,"130.091,08","127.467,88",NaN,"115.062,54","114.647,99",NaN,"107.431,18"
15,16,NaN,NaN,"114.018,78","121.113,93",NaN,"129.259,49","125.960,26","119.180,03","113.794,28",NaN,"104.403,66","108.326,33"
16,17,NaN,"120.355,79","116.549,44",NaN,"122.937,87","128.057,22",NaN,"117.903,81","111.439,37",NaN,"102.948,45","107.200,56"
17,18,"121.241,63","119.198,97","114.835,43",NaN,"122.979,96","128.405,35",NaN,"116.642,62",NaN,"114.428,18","102.426,00",NaN
18,19,"120.636,39","118.430,53","116.221,58","120.933,78","122.636,30",NaN,"124.394,57","117.164,69",NaN,"110.672,76","103.035,02",NaN
19,20,"119.646,40",NaN,NaN,"120.061,99","122.700,79",NaN,"125.401,36","118.052,77","108.843,74","110.786,43",NaN,"105.019,78"
20,21,"118.328,99",NaN,NaN,NaN,"122.592,47","129.264,96","125.929,25",NaN,"110.249,73","107.735,01",NaN,"105.499,88"
21,22,"117.380,49","112.667,70","114.978,86","119.371,48",NaN,"128.767,45","126.146,66",NaN,"112.282,28","106.296,18","102.122,37","105.243,72"
22,23,NaN,"115.227,46","113.261,80","120.530,06",NaN,"128.427,98","125.052,78","117.471,67","114.064,36",NaN,"103.653,82","104.891,32"
23,24,NaN,"115.667,78","112.064,19",NaN,"124.031,62","129.513,62",NaN,"120.210,75","113.282,67",NaN,"104.514,19",NaN
24,25,NaN,"112.256,36","113.749,90",NaN,"122.987,71","127.255,61",NaN,"120.817,71",NaN,"108.714,55","105.811,25",NaN
25,26,"116.464,06","110.035,17","114.780,62","120.594,61","123.989,17",NaN,"126.003,86","118.723,97",NaN,"106.419,53","102.224,26",NaN
26,27,"115.882,30",NaN,NaN,"119.388,37","124.366,57",NaN,"124.612,03","120.677,60","113.583,01","106.363,10",NaN,"105.554,40"
27,28,"118.883,25",NaN,NaN,"121.052,52","125.561,37","127.429,17","126.285,59",NaN,"110.123,85","105.704,96",NaN,"104.864,17"
28,29,"115.067,55",NaN,"115.418,72","120.065,75",NaN,"127.327,44","125.675,33",NaN,"111.106,83","103.500,71","102.814,03","104.107,24"
29,30,NaN,NaN,"116.849,67","118.893,84",NaN,"126.801,66","121.800,79","119.739,96","110.979,10",NaN,"101.915,45","104.822,44"
30,31,NaN,NaN,"116.633,72",NaN,"126.215,73",NaN,NaN,"118.781,03",NaN,NaN,NaN,NaN
31,32,"115.067,55","110.035,17","110.334,83","115.253,31","117.712,00","126.801,66","121.800,79","116.642,62","108.843,74","103.500,71","101.915,45","100.774,57"
32,33,"125.076,63","120.355,79","116.849,67","121.113,93","126.215,73","130.776,27","128.406,51","123.576,56","119.395,60","114.647,99","107.594,67","108.326,33"

**2)** Imprima as três primeiras linhas do DataFrame carregado e depois as três últimas.

**3)** Imprima o maior e o menor valor de fechamento do índice no período analisado.

**4)** Qual é o dia associado à 50ª linha do DataFrame?

**5)** Compare a média do valor de fechamento do índice entre o primeiro e o segundo trimestre do ano estudado. Em qual dos períodos verifica-se maior média?

**6)** Acrescente uma coluna ao DataFrame chamada 'amplitude', contendo a variação máxima diária, isto é, valor máximo - valor mínimo. Imprima a linha onde se teve a maior variação do índice e depois salve o DataFrame modificado no arquivo "BVSP_mod.csv".

In [6]:
df['Jan'].value_counts(dropna=False)

Jan
NaN           12
125.076,63     2
115.067,55     2
118.854,71     1
119.100,08     1
119.376,21     1
123.255,13     1
122.385,92     1
121.933,08     1
123.480,52     1
120.348,80     1
123.998,00     1
121.241,63     1
120.636,39     1
118.328,99     1
119.646,40     1
117.380,49     1
116.464,06     1
115.882,30     1
118.883,25     1
Name: count, dtype: int64